@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --cont_padding: 20px;
        --custom_scroll_width: 5px;
        --custom_scroll_height: 5px;
        --font_size_l: 11px;
        --font_size: 10px;
        --font_size_s: 9px;
        --font_size_title_l: 34px;
        --font_size_title: 25px;
        --font_size_title_s: 19px;
        --font_size_title_xs: 16px;
        --block_head_offset: 36px;
        --block_padding_xl: 36px;
        --block_padding_l: 32px;
        --block_padding: 26px;
        --block_padding_s: 20px;
        --outside_gap: 70px;
        --border_radius: 10px;
        --border_radius_s: 5px;
    }



    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        --swiper-pagination-bottom: var(--inner_gap_xs);
    }


    .swiper-pagination-bullet
    {
        --swiper-pagination-bullet-height: 8px;
        --swiper-pagination-bullet-width: 8px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        .btn
        {
            height: 28px;
        }
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item
    {
        .head
        {
            gap: var(--inner_gap_s);


            .title
            {
                width: calc(100% - 36px - var(--inner_gap));
            }


            .icon
            {
                width: 36px;


                svg
                {
                    width: 14px;
                    height: 9px;
                }
            }
        }


        .data
        {
            padding-block: 0 var(--inner_gap);
            padding-inline: var(--inner_gap_s);
        }
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding-block: var(--inner_gap_xs);


        .logo
        {
            img
            {
                width: 100px;
                height: 41px;
            }
        }


        .callback_btn
        {
            height: 32px;
            padding-inline: var(--inner_gap);
        }
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        gap: var(--inner_gap_xs);


        &.row
        {
            gap: var(--inner_gap_xs);


            .col
            {
                max-width: calc(100% - 200px - var(--inner_gap_l));

                gap: var(--inner_gap_xs);
            }


            .title
            {
                max-width: calc(100% - 262px - var(--inner_gap_l));


                .s_w
                {
                    max-width: calc(100% - 328px - var(--inner_gap_l));
                }
            }


            .desc
            {
                width: 262px;


                &.l_w
                {
                    width: 328px;
                }
            }
        }
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        ul
        {
            gap: var(--inner_gap_xxxs);
        }


        .message
        {
            padding-block: var(--inner_gap_xs) calc(var(--inner_gap_xs) - 2px);
            padding-inline: var(--inner_gap_xs);


            &:after
            {
                right: var(--inner_gap);
                bottom: -12px;

                width: 32px;
                height: 20px;

                border-inline: 16px solid transparent;
                border-top: 20px solid var(--primary_color);
            }
        }
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        .data
        {
            .items
            {
                gap: var(--inner_gap_xxs);


                .icon
                {
                    width: 11px;
                }


                span
                {
                    width: calc(100% - 11px - var(--inner_gap_xxs));
                }
            }


            .btns
            {
                gap: var(--inner_gap_xs);


                .btn
                {
                    height: 32px;
                    padding-inline: var(--inner_gap);
                }
            }
        }


        .person
        {
            gap: var(--inner_gap);


            .items
            {
                width: 156px;

                gap: var(--inner_gap_s);


                .item
                {
                    min-height: 74px;
                    padding: var(--inner_gap_xs);
                }
            }


            .info
            {
                width: 171px;
                margin-right: -15px;
            }


            .photo
            {
                right: 188px;

                height: calc(100% + 12px);
            }
        }
    }



    /*----------
        Calc
    ----------*/
    .calc
    {
        .data
        {
            .info
            {
                gap: var(--inner_gap);


                .line
                {
                    gap: var(--inner_gap_xxs);
                }


                .input
                {
                    width: 100px;
                    height: 32px;
                }


                .vals
                {
                    gap: var(--inner_gap_xxs);


                    label
                    {
                        span
                        {
                            padding-block: 6px 4px;
                            padding-inline: var(--inner_gap_xxs);
                        }
                    }
                }
            }


            .result
            {
                width: 536px;
                height: 268px;
                padding-right: 64px;

                gap: var(--inner_gap_xs);


                .btn
                {
                    height: 32px;
                    padding-inline: var(--inner_gap);
                }
            }
        }
    }



    /*-------------
        History
    -------------*/
    .history
    {
        .chart
        {
            width: calc(100% - 316px - var(--inner_gap_l));
            height: 236px;
        }


        .info
        {
            width: 316px;

            gap: var(--inner_gap_s);


            .service
            {
                padding: var(--inner_gap_xs);
            }
        }
    }



    /*----------------
        Situations
    ----------------*/
    .situations
    {
        .item
        {
            .image
            {
                width: 200px;
            }


            .info
            {
                width: calc(100% - 200px - var(--inner_gap));

                gap: var(--inner_gap_s);
            }


            .btn
            {
                height: 32px;
                padding-inline: var(--inner_gap);
            }
        }
    }



    /*-----------
        Steps
    -----------*/
    .steps
    {
        .message
        {
            width: 200px;


            &:after
            {
                right: var(--inner_gap);
                bottom: -12px;

                width: 32px;
                height: 20px;

                border-inline: 16px solid transparent;
                border-top: 20px solid var(--primary_color);
            }
        }


        .grid_row
        {
            --gap_x: 40px;
        }


        .item
        {
            min-height: 283px;
            padding: var(--inner_gap);


            .number
            {
                padding: var(--inner_gap);

                font-size: 37px;
            }


            .info
            {
                gap: var(--inner_gap_xs);
            }


            .arrow
            {
                margin-right: var(--inner_gap_xxs);
            }
        }
    }



    /*---------------------
        After departure
    ---------------------*/
    .after_departure
    {
        .cont
        {
            gap: var(--inner_gap);
        }


        .block_head
        {
            width: 178px;


            .btn
            {
                height: 32px;
                padding-inline: var(--inner_gap);
            }
        }


        .data
        {
            width: calc(100% - 178px - var(--inner_gap));
        }


        .item
        {
            min-height: 188px;

            gap: var(--inner_gap_xxs);
        }
    }



    /*-----------------------
        Try simpler first
    -----------------------*/
    .try_simpler_first
    {
        .row
        {
            gap: var(--inner_gap);
        }


        .list
        {
            width: calc(100% - 233px - var(--inner_gap));

            gap: var(--inner_gap);


            .item
            {
                gap: var(--inner_gap_xs);


                .image
                {
                    height: 237px;
                }


                .info
                {
                    gap: var(--inner_gap_xs);
                }


                .name
                {
                    width: 230px;
                }


                .desc
                {
                    width: calc(100% - 230px - var(--inner_gap_xs));
                }
            }
        }


        .action
        {
            width: 233px;
            min-height: 325px;
            padding: var(--inner_gap);


            .desc
            {
                width: 120px;
            }


            .btn
            {
                height: 32px;
                padding-inline: var(--inner_gap);
            }


            .photo
            {
                width: 148px;
            }
        }
    }



    /*------------------
        Before/After
    ------------------*/
    .before_after
    {
        .images
        {
            height: 294px;
        }


        .grid_row
        {
            margin-top: var(--inner_gap_l);
        }


        .item
        {
            gap: var(--inner_gap_xs);


            .items
            {
                > *
                {
                    padding-block: 5px;
                }
            }
        }
    }



    /*--------------
        Rreviews
    --------------*/
    .reviews
    {
        .row
        {
            .main
            {
                width: calc(100% - 400px - var(--inner_gap));
            }


            .list
            {
                width: 400px;

                gap: var(--inner_gap_s);
            }


            .review
            {
                .data
                {
                    width: calc(100% - 130px - var(--inner_gap));

                    gap: var(--inner_gap_xs);
                }


                .top
                {
                    gap: var(--inner_gap_xs);
                }


                .play
                {
                    width: 30px;


                    .icon
                    {
                        width: 12px;
                    }
                }


                .name
                {
                    width: calc(100% - 30px - var(--inner_gap_xs));

                    font-size: 14px;
                }


                .info
                {
                    gap: var(--inner_gap_xs);


                    & > *
                    {
                        gap: var(--inner_gap_xxxs);
                    }


                    .icon
                    {
                        width: 10px;
                        min-width: 10px;
                        height: 10px;
                    }


                    .location
                    {
                        .icon
                        {
                            width: 8px;
                            min-width: 8px;
                            height: 11px;
                        }
                    }
                }


                .images
                {
                    .thumb
                    {
                        height: 245px;
                    }
                }


                .thumb
                {
                    width: 130px;
                    height: 58px;
                }
            }
        }
    }



    /*-------------
        What if
    -------------*/
    .what_if
    {
        .row
        {
            gap: var(--inner_gap);
        }


        .images
        {
            width: 316px;
        }


        .accordion
        {
            width: calc(100% - 316px - var(--inner_gap));
        }
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        .tab_content
        {
            gap: var(--inner_gap);
        }


        .message
        {
            width: 349px;
            padding-block: var(--inner_gap_s) var(--inner_gap_xs);
            padding-inline: var(--inner_gap_s);

            gap: var(--inner_gap_s);
        }


        .data
        {
            width: calc(100% - 349px - var(--inner_gap));

            gap: var(--inner_gap_xs);


            .form
            {
                --form_input_height: 32px;
                column-gap: var(--inner_gap_s);


                .line
                {
                    width: calc((100% - 160px - var(--inner_gap_s) * 2) / 2);
                }


                .submit
                {
                    width: 160px;
                }
            }
        }


        .no
        {
            .btn
            {
                height: 32px;
                padding-inline: var(--inner_gap);
            }
        }


        .image
        {
            top: -22px;
            right: 36px;

            width: 156px;
        }
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        .logo
        {
            gap: var(--inner_gap_xs);


            img
            {
                width: 113px;
                height: 45px;
            }
        }


        .callback_btn
        {
            height: 32px;
            padding-inline: var(--inner_gap);
        }


        .text
        {
            width: 546px;
        }
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        --modal_width: 660px;


        .modal_title,
        .modal_desc,
        .form
        {
            width: 300px;
        }
    }


    #get_solution_modal
    {
        .image
        {
            width: 300px;
        }
    }


    #callback_modal
    {
        .image
        {
            right: 8px;

            width: 280px;
        }
    }


    #get_engineer_modal
    {
        .image
        {
            width: 300px;
        }
    }


    #calc_modal
    {
        .calc
        {
            .data
            {
                .result
                {
                    width: 490px;
                    height: 252px;
                }
            }
        }
    }
}
