@media (max-width: 767px)
{
    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding: var(--inner_gap_s);
    }



    /*----------
        Tabs
    ----------*/
    .tabs .btn
    {
        width: calc(50% - 9px);
        height: 32px;
    }



    /*------------
        Header
    ------------*/
    header .phone
    {
        display: none;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title br
    {
        display: none;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .data .btns
    {
        flex-direction: column;
    }


    .first_section .person
    {
        padding-block: var(--inner_gap_s);
        padding-inline: var(--inner_gap_s);
    }


    .first_section .person .info
    {
        width: 167px;
    }


    .first_section .person .photo
    {
        right: calc(var(--inner_gap_xs) * -1);

        height: 192px;
    }


    .first_section .mob_person_items .grid_row
    {
        --items_per_line: 1;
    }


    .first_section .mob_person_items .item
    {
        min-height: 122px;
        padding: var(--inner_gap_s);
    }



    /*----------
        Calc
    ----------*/
    .calc .cont
    {
        min-height: 1260px;
    }


    .calc .data
    {
        padding-block: var(--inner_gap_l) 112px;
        padding-inline: var(--inner_gap_s);
    }


    .calc .data .info
    {
        width: 100%;

        gap: var(--inner_gap_l);
    }


    .calc .data .result
    {
        top: 100%;
        right: 0;
        left: 0;

        width: 300px;
        height: 576px;
        margin-inline: auto;
        margin-top: -88px;
        padding-block: 80px 48px;
        padding-inline: 32px;
    }



    /*----------------
        Situations
    ----------------*/
    .situations .item .image,
    .situations .item .info
    {
        width: 100%;
    }


    .situations .item .bottom
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }


    .situations .item .btn
    {
        width: 100%;
    }



    /*-----------
        Steps
    -----------*/
    .steps .item
    {
        padding: var(--inner_gap);
    }



    /*---------------------
        After departure
    ---------------------*/
    .after_departure .item
    {
        min-height: 204px;
    }


    .after_departure .item .thumb
    {
        right: 0;

        height: 120%;
    }



    /*-----------------------
        Try simpler first
    -----------------------*/
    .try_simpler_first .action
    {
        overflow: hidden;

        min-height: 320px;
        padding: var(--inner_gap);
    }


    .try_simpler_first .action .desc
    {
        width: 197px;
    }


    .try_simpler_first .action .photo
    {
        width: 182px;
    }



    /*------------------
        Before/After
    ------------------*/
    .before_after .images
    {
        height: 240px;
    }



    /*--------------
        Reviews
    --------------*/
    .reviews .row .review .data
    {
        width: 100%;
    }


    .reviews .row .review .thumb
    {
        width: 100%;
        height: 115px;
    }


    .reviews .row .main .review .data
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }



    /*-------------
        What if
    -------------*/
    .what_if .accordion .accordion_item .text_block
    {
        width: 100%;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .tab_content.active
    {
        padding: var(--inner_gap);
    }


    .action_block .data .form .line
    {
        width: 100%;
    }


    .action_block .data .form .submit
    {
        width: 100%;
    }


    .action_block .data .form .checkbox
    {
        margin-top: var(--inner_gap_s);
        padding-top: 0;
    }


    .action_block .no
    {
        flex-wrap: wrap;

        gap: var(--inner_gap);
    }


    .action_block .no .title
    {
        width: 100%;

        text-align: center;
    }


    .action_block .no .title br
    {
        display: none;
    }


    .action_block .no .btn
    {
        width: 100%;
        padding-inline: var(--inner_gap_xs);
    }



    /*-------------
        Cookies
    -------------*/
    .cookies
    {
        flex-wrap: wrap;

        gap: var(--inner_gap_xs);
    }


    .cookies .btn
    {
        width: 100%;
    }



    /*------------
        Footer
    ------------*/
    footer .cont
    {
        padding-right: var(--cont_padding);
    }


    footer .cont + .cont
    {
        padding-right: 128px;
    }


    footer .img
    {
        right: -54px;

        width: 189px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        --modal_width: 335px;
    }


    .modal .modal_title,
    .modal .modal_desc,
    .modal .form
    {
        width: 100%;
    }


    .modal .image
    {
        display: none;
    }


    #privacy_policy_modal .modal_title
    {
        font-size: var(--font_size_title_s);
    }


    #calc_modal
    {
        padding-inline: var(--block_padding_s);
    }


    #calc_modal .modal_desc
    {
        width: 100%;
    }


    #calc_modal .calc .data
    {
        min-height: 0;
        padding-bottom: 0;
    }


    #calc_modal .calc .data .result
    {
        position: relative;
        top: 0;

        width: 292px;
        height: 568px;
        margin-top: var(--block_padding_l);
        padding-block: 60px 40px;
    }
}
