@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_l: 14px;
        --font_size: 14px;
        --font_size_s: 12px;
        --font_size_title_l: 34px;
        --font_size_title: 30px;
        --font_size_title_s: 26px;
        --font_size_title_xs: 20px;
        --block_head_offset: 40px;
        --block_padding_xl: 36px;
        --block_padding_l: 28px;
        --block_padding: 24px;
        --block_padding_s: 20px;
        --outside_gap: 80px;
        --border_radius: 12px;
        --border_radius_s: 6px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head .icon
    {
        width: 40px;
    }



    /*------------
        Header
    ------------*/
    header .logo span
    {
        display: none;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        gap: var(--inner_gap_s);
    }


    .block_head.row
    {
        gap: var(--inner_gap_s);
    }


    .block_head.row .col
    {
        width: 100%;
        max-width: 100%;

        gap: var(--inner_gap_s);
    }


    .block_head.row .title
    {
        width: 100%;
        max-width: 100%;
    }


    .block_head.row .desc
    {
        width: 100%;
    }


    .block_head.row .desc.l_w
    {
        width: 100%;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: var(--block_padding_xl);
    }


    .first_section .cont
    {
        gap: var(--block_padding_xl);
    }


    .first_section .data
    {
        width: 100%;
    }


    .first_section .data .title
    {
        margin-bottom: var(--block_padding);
    }


    .first_section .data .btns .btn
    {
        height: 36px;
    }


    .first_section .person
    {
        align-content: flex-start;
        align-items: flex-start;

        width: 100%;
        padding-block: var(--block_padding_l);
        padding-inline: var(--block_padding_l);
    }


    .first_section .person .items
    {
        display: none;
    }


    .first_section .person .info
    {
        width: 100%;
        margin-right: 0;
    }


    .first_section .person .photo
    {
        right: calc(var(--inner_gap_s) * -1);

        height: 280px;
    }


    .first_section .mob_person_items
    {
        display: block;
    }



    /*----------
        Calc
    ----------*/
    .calc .cont
    {
        min-height: 760px;
    }


    .calc .data
    {
        padding-block: var(--block_padding_l);
        padding-inline: var(--block_padding_l);
    }


    .calc .data .info
    {
        width: 330px;
        max-width: 100%;

        gap: var(--inner_gap_xl);
    }


    .calc .data .info .line
    {
        gap: var(--inner_gap_xs);
    }


    .calc .data .info .vals label span
    {
        padding-inline: var(--inner_gap_s);
    }


    .calc .data .result
    {
        top: -44px;

        width: 330px;
        height: 674px;
        padding-block: 96px;
        padding-inline: 36px;

        transform: none;

        background: url(../images/bg_calc_result_mob.png) 0 0/100% 100% no-repeat;

        gap: var(--inner_gap_s);
    }


    .calc .data .result .logo
    {
        display: block;
    }


    .calc .data .result .prices
    {
        flex-direction: column;

        gap: var(--inner_gap_s);
    }


    .calc .data .result .prices > *
    {
        gap: var(--inner_gap_xxxs);
    }


    .calc .data .result .btn
    {
        height: 36px;
        margin-top: var(--inner_gap_xxs);
    }



    /*-------------
        History
    -------------*/
    .history .chart
    {
        width: 100%;
        height: 300px;
    }


    .history .info
    {
        width: 100%;

        gap: var(--inner_gap);
    }


    .history .info .service
    {
        padding: var(--inner_gap_s);
    }



    /*----------------
        Situations
    ----------------*/
    .situations .grid_row
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
        --items_per_line: 1;
    }


    .situations .col
    {
        gap: var(--inner_gap);
    }


    .situations .item .image
    {
        width: 300px;
    }


    .situations .item .info
    {
        width: calc(100% - 300px - var(--inner_gap));
    }


    .situations .item .btn
    {
        height: 36px;
    }



    /*-----------
        Steps
    -----------*/
    .steps .message
    {
        width: 100%;
    }


    .steps .grid_row
    {
        --items_per_line: 1;
        --gap_x: var(--zero_px);
        --gap_y: 40px;
    }


    .steps .item
    {
        min-height: 294px;
        padding: var(--inner_gap_l);
    }


    .steps .item .arrow
    {
        top: -2px;
        right: 0;
        bottom: auto;
        left: 0;

        margin-inline: auto;

        transform: rotate(90deg) translatex(-100%);
    }



    /*---------------------
        After departure
    ---------------------*/
    .after_departure .cont
    {
        gap: 0;
    }


    .after_departure .block_head
    {
        width: 100%;
        margin-bottom: var(--block_head_offset);

        gap: var(--inner_gap_s);
    }


    .after_departure .data
    {
        width: 100%;
    }


    .after_departure .grid_row
    {
        --items_per_line: 1;
        --gap_x: var(--inner_gap_s);
        --gap_y: var(--inner_gap_s);
    }


    .after_departure .item
    {
        min-height: 127px;
    }


    .after_departure .item .thumb
    {
        top: auto;
        right: var(--inner_gap_xs);
        bottom: 0;
        left: auto;

        width: auto;
        height: 160%;
    }



    /*-----------------------
        Try simpler first
    -----------------------*/
    .try_simpler_first .list
    {
        width: 100%;
    }


    .try_simpler_first .list .item .name,
    .try_simpler_first .list .item .desc
    {
        width: 100%;
    }


    .try_simpler_first .action
    {
        overflow: visible;

        width: 100%;
        min-height: 238px;
        padding: var(--inner_gap_l);
    }


    .try_simpler_first .action .title
    {
        width: 422px;
        max-width: 100%;
    }


    .try_simpler_first .action .desc
    {
        width: 224px;
    }


    .try_simpler_first .action .btn
    {
        height: 36px;
    }


    .try_simpler_first .action .photo
    {
        width: 305px;
    }



    /*------------------
        Before/After
    ------------------*/
    .before_after .images
    {
        height: 330px;
    }


    .before_after .grid_row
    {
        --items_per_line: 1;
    }


    .before_after .item .items > *
    {
        padding-block: 6px;
        padding-inline: var(--inner_gap_xs);
    }



    /*--------------
        Reviews
    --------------*/
    .reviews .row .main
    {
        width: 100%;
    }


    .reviews .row .list
    {
        width: 100%;
    }



    /*-------------
        What if
    -------------*/
    .what_if .images
    {
        display: none;
    }


    .what_if .accordion
    {
        width: 100%;
    }


    .what_if .accordion .accordion_item .image
    {
        display: block;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .tab_content
    {
        gap: var(--inner_gap_xl);
    }


    .action_block .message
    {
        width: 100%;
    }


    .action_block .data
    {
        width: 100%;
    }


    .action_block .data .form
    {
        --form_input_height: 36px;
    }


    .action_block .data .form .line
    {
        width: calc((100% - 180px - var(--inner_gap_s) * 2) / 2);
    }


    .action_block .data .form .submit
    {
        width: 180px;
    }


    .action_block .no .btn
    {
        height: 36px;
    }


    .action_block .image
    {
        display: none;
    }



    /*-------------
        Cookies
    -------------*/
    .cookies
    {
        bottom: 0;
        left: 0;

        width: 100%;
        max-width: 100%;
        padding: var(--inner_gap);

        transform: none;

        border-radius: 0;

        gap: var(--inner_gap);
    }


    .cookies .info
    {
        gap: var(--inner_gap_xs);
    }


    .cookies .btn
    {
        height: 36px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        position: relative;
    }


    footer .cont
    {
        position: relative;

        padding-right: calc(260px + var(--cont_padding));

        z-index: 3;
    }


    footer .logo
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        width: 100%;
        margin-bottom: var(--inner_gap_s);

        gap: var(--inner_gap);
    }


    footer .logo img
    {
        width: 186px;
        height: 75px;
    }


    footer .logo br
    {
        display: none;
    }


    footer .callback_btn
    {
        height: 36px;
    }


    footer .phone
    {
        margin-right: auto;
    }


    footer .text
    {
        width: 100%;
        margin-bottom: var(--inner_gap_l);
    }


    footer .img
    {
        display: block;
    }



    /*-----------
        PopUp
    -----------*/
    #calc_modal .modal_desc
    {
        width: 304px;
    }


    #calc_modal .calc .data
    {
        min-height: 476px;
    }


    #calc_modal .calc .data .result
    {
        top: auto;
        bottom: 0;

        width: 300px;
        height: 560px;
        padding-block: 48px;
    }
}
