@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_l: 13px;
        --font_size: 12px;
        --font_size_s: 11px;
        --font_size_title_l: 42px;
        --font_size_title: 32px;
        --font_size_title_s: 24px;
        --font_size_title_xs: 20px;
        --block_head_offset: 40px;
        --block_padding_xl: 40px;
        --block_padding_l: 36px;
        --block_padding: 30px;
        --block_padding_s: 24px;
        --outside_gap: 80px;
        --border_radius: 12px;
        --border_radius_s: 6px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .data
    {
        padding-block: 0 var(--inner_gap_l);
    }



    /*----------------
        Block head
    ----------------*/
    .block_head.row .col
    {
        max-width: calc(100% - 250px - var(--cont_padding_double));
    }


    .block_head.row .title
    {
        max-width: calc(100% - 348px - var(--cont_padding_double));
    }


    .block_head.row .title.s_w
    {
        max-width: calc(100% - 398px - var(--cont_padding_double));
    }


    .block_head.row .desc
    {
        width: 348px;
    }


    .block_head.row .desc.l_w
    {
        width: 398px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .person
    {
        gap: var(--inner_gap_l);
    }


    .first_section .person .items
    {
        width: 197px;
    }


    .first_section .person .items .item
    {
        min-height: 97px;
    }


    .first_section .person .info
    {
        width: 206px;
        margin-right: -9px;
    }


    .first_section .person .photo
    {
        right: 232px;

        height: calc(100% + 22px);
    }



    /*----------
        Calc
    ----------*/
    .calc .data .result
    {
        width: 660px;
        height: 348px;
        padding-right: 80px;
    }



    /*-------------
        History
    -------------*/
    .history .chart
    {
        width: calc(100% - 400px - var(--inner_gap_l));
        height: 300px;
    }


    .history .info
    {
        width: 400px;
    }



    /*----------------
        Situations
    ----------------*/
    .situations .item .row
    {
        gap: var(--inner_gap);
    }


    .situations .item .image
    {
        width: 248px;
    }


    .situations .item .info
    {
        width: calc(100% - 248px - var(--inner_gap));
    }



    /*-----------
        Steps
    -----------*/
    .steps .message
    {
        width: 250px;
        padding: var(--inner_gap_xs);
    }


    .steps .grid_row
    {
        --gap_x: 48px;
    }


    .steps .item
    {
        min-height: 356px;
        padding: var(--inner_gap_l);
    }


    .steps .item .number
    {
        padding: var(--inner_gap_l);

        font-size: 48px;
    }


    .steps .item .arrow
    {
        width: 24px;
        height: 11px;
        margin-right: var(--inner_gap_xs);
    }



    /*---------------------
        After departure
    ---------------------*/
    .after_departure .block_head
    {
        width: 224px;
    }


    .after_departure .data
    {
        width: calc(100% - 224px - var(--inner_gap_l));
    }


    .after_departure .item
    {
        min-height: 236px;

        gap: var(--inner_gap_xs);
    }



    /*-----------------------
        Try simpler first
    -----------------------*/
    .try_simpler_first .row
    {
        gap: var(--inner_gap_l);
    }


    .try_simpler_first .list
    {
        width: calc(100% - 290px - var(--inner_gap_l));

        gap: var(--inner_gap_l);
    }


    .try_simpler_first .list .item .image
    {
        height: 298px;
    }


    .try_simpler_first .list .item .name
    {
        width: 290px;
    }


    .try_simpler_first .list .item .desc
    {
        width: calc(100% - 290px - var(--inner_gap_xs));
    }


    .try_simpler_first .action
    {
        width: 290px;
        min-height: 410px;
        padding: 32px;
    }


    .try_simpler_first .action .desc
    {
        width: 150px;
    }


    .try_simpler_first .action .photo
    {
        width: 188px;
    }



    /*------------------
        Before/After
    ------------------*/
    .before_after .images
    {
        height: 370px;
    }


    .before_after .item
    {
        gap: var(--inner_gap_s);
    }


    .before_after .item .items
    {
        gap: var(--inner_gap_xxs);
    }


    .before_after .item .items > *
    {
        padding-block: 6px;
        padding-inline: var(--inner_gap_xxs);
    }



    /*--------------
        Rreviews
    --------------*/
    .reviews .row
    {
        gap: var(--inner_gap);
    }


    .reviews .big
    {
        width: calc(100% - 504px - var(--inner_gap));
    }


    .reviews .big .review .play + *
    {
        width: calc(100% - 38px - var(--inner_gap_s));
    }


    .reviews .list
    {
        width: 504px;

        gap: var(--inner_gap);
    }


    .reviews .review .data
    {
        width: calc(100% - 163px - var(--inner_gap));
    }


    .reviews .review .play
    {
        width: 38px;
    }


    .reviews .review .play .icon
    {
        width: 14px;
    }


    .reviews .review .name
    {
        width: calc(100% - 38px - var(--inner_gap_s));

        font-size: 16px;
    }


    .reviews .review .images .thumb
    {
        height: 309px;
    }


    .reviews .review .thumb
    {
        width: 163px;
        height: 72px;
    }



    /*-------------
        What if
    -------------*/
    .what_if .images
    {
        width: 396px;
    }


    .what_if .accordion
    {
        width: calc(100% - 396px - var(--inner_gap_l));
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .tab_content
    {
        gap: var(--inner_gap_l);
    }


    .action_block .message
    {
        width: 442px;

        gap: var(--inner_gap);
    }


    .action_block .data
    {
        width: calc(100% - 442px - var(--inner_gap_l));
    }


    .action_block .data .form
    {
        column-gap: var(--inner_gap);
    }


    .action_block .data .form .line
    {
        width: calc((100% - 168px - var(--inner_gap) * 2) / 2);
    }


    .action_block .data .form .submit
    {
        width: 168px;
    }


    .action_block .image
    {
        top: -28px;
        right: 45px;

        width: 198px;
    }



    /*------------
        Footer
    ------------*/
    footer .logo
    {
        gap: var(--inner_gap_s);
    }


    footer .logo img
    {
        width: 142px;
        height: 57px;
    }


    footer .text
    {
        width: 714px;
    }



    /*-----------
        PopUp
    -----------*/
    #calc_modal .calc .data .result
    {
        width: 640px;
        height: 308px;
    }
}
