@media print,
(max-width: 1599px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_l: 14px;
        --font_size: 13px;
        --font_size_s: 12px;
        --font_size_title_l: 46px;
        --font_size_title: 35px;
        --font_size_title_s: 27px;
        --font_size_title_xs: 22px;
        --block_head_offset: 50px;
        --block_padding_xl: 50px;
        --block_padding_l: 40px;
        --block_padding_s: 26px;
        --outside_gap: 110px;
        --border_radius: 16px;
        --border_radius_s: 8px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head .title
    {
        width: calc(100% - 48px - var(--inner_gap));
    }


    .accordion_item .head .icon
    {
        width: 48px;
    }


    .accordion_item .head .icon svg
    {
        width: 18px;
        height: 12px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: var(--inner_gap_xl);
    }


    .tabs .btn
    {
        height: 30px;
    }


    .tabs .sep
    {
        height: 16px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head.row .col
    {
        width: auto;
        max-width: calc(100% - 274px - var(--cont_padding_double));

        gap: var(--inner_gap);
    }


    .block_head.row .title
    {
        width: auto;
        max-width: calc(100% - 382px - var(--cont_padding_double));
    }


    .block_head.row .title.s_w
    {
        max-width: calc(100% - 436px - var(--cont_padding_double));
    }


    .block_head.row .desc
    {
        width: 382px;
    }


    .block_head.row .desc.l_w
    {
        width: 436px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form
    {
        --form_input_height: 38px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block .message
    {
        padding-block: var(--inner_gap_s) calc(var(--inner_gap_s) - 2px);
        padding-inline: var(--inner_gap_s);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        gap: var(--inner_gap_l);
    }


    .first_section .data
    {
        width: calc(50% - var(--inner_gap_l) / 2);
    }


    .first_section .data .items
    {
        gap: var(--inner_gap_s);
    }


    .first_section .data .btns
    {
        gap: var(--inner_gap);
    }


    .first_section .data .btns .btn
    {
        height: 38px;
    }


    .first_section .person
    {
        width: calc(50% - var(--inner_gap_l) / 2);

        gap: 30px;
    }


    .first_section .person .photo
    {
        right: 272px;
    }


    .first_section .person .items
    {
        width: 216px;

        gap: var(--inner_gap);
    }


    .first_section .person .items .item
    {
        min-height: 102px;
    }


    .first_section .person .info
    {
        width: 223px;
        margin-right: -7px;
    }



    /*----------
        Calc
    ----------*/
    .calc .data .info
    {
        gap: 32px;
    }


    .calc .data .info .line
    {
        gap: var(--inner_gap_s);
    }


    .calc .data .info .vals
    {
        gap: var(--inner_gap_xs);
    }


    .calc .data .info .vals label span
    {
        padding-inline: var(--inner_gap_xs);
    }


    .calc .data .result
    {
        width: 735px;
        height: 352px;
        padding-right: 90px;
    }


    .calc .data .result .btn
    {
        height: 38px;
        padding-top: 0;
    }



    /*-------------
        History
    -------------*/
    .history .row
    {
        gap: var(--inner_gap_l);
    }


    .history .chart
    {
        width: calc(100% - 437px - var(--inner_gap_l));
        height: 308px;
    }


    .history .info
    {
        width: 437px;

        gap: var(--inner_gap);
    }


    .history .info .service
    {
        margin-top: 0;
    }



    /*----------------
        Situations
    ----------------*/
    .situations .grid_row
    {
        --gap_x: var(--inner_gap_l);
        --gap_y: var(--inner_gap_l);
    }


    .situations .item .row
    {
        gap: var(--inner_gap_l);
    }


    .situations .item .bottom
    {
        margin-top: var(--inner_gap);

        gap: var(--inner_gap);
    }


    .situations .item .image
    {
        width: 300px;
    }


    .situations .item .info
    {
        width: calc(100% - 300px - var(--inner_gap_l));

        gap: var(--inner_gap_l);
    }


    .situations .item .info .name
    {
        font-size: var(--font_size_title_xs);
    }


    .situations .item .btn
    {
        height: 38px;
    }



    /*-----------
        Steps
    -----------*/
    .steps .message
    {
        width: 274px;
        padding: var(--inner_gap_s);
    }


    .steps .grid_row
    {
        --gap_x: 58px;
    }


    .steps .item
    {
        min-height: 392px;
        padding: var(--inner_gap_xl);
    }


    .steps .item .number
    {
        padding: var(--inner_gap_xl);

        font-size: 52px;
    }


    .steps .item .arrow
    {
        width: 28px;
        height: 13px;
        margin-right: var(--inner_gap_s);
    }



    /*---------------------
        After departure
    ---------------------*/
    .after_departure .cont
    {
        gap: var(--inner_gap_l);
    }


    .after_departure .block_head
    {
        width: 246px;

        gap: var(--block_padding_xl);
    }


    .after_departure .block_head .btn
    {
        height: 38px;
    }


    .after_departure .data
    {
        width: calc(100% - 246px - var(--inner_gap_l));
    }


    .after_departure .grid_row
    {
        --gap_x: var(--inner_gap_l);
        --gap_y: var(--inner_gap_l);
    }


    .after_departure .item
    {
        min-height: 260px;

        gap: var(--inner_gap_s);
    }


    .after_departure .item .name
    {
        font-size: calc(var(--font_size_title_xs) - 2px);
    }



    /*-----------------------
        Try simpler first
    -----------------------*/
    .try_simpler_first .list
    {
        width: calc(100% - 318px - var(--block_padding));

        gap: var(--inner_gap_xl);
    }


    .try_simpler_first .list .item
    {
        gap: var(--inner_gap);
    }


    .try_simpler_first .list .item .image
    {
        height: 326px;
    }


    .try_simpler_first .list .item .info
    {
        gap: var(--inner_gap);
    }


    .try_simpler_first .list .item .name
    {
        width: 318px;
    }


    .try_simpler_first .list .item .desc
    {
        width: calc(100% - 318px - var(--inner_gap_xs));
    }


    .try_simpler_first .action
    {
        width: 318px;
        min-height: 450px;
        padding: 35px;

        gap: var(--inner_gap);
    }


    .try_simpler_first .action .desc
    {
        width: 164px;
    }


    .try_simpler_first .action .btn
    {
        height: 38px;
    }


    .try_simpler_first .action .photo
    {
        width: 204px;
    }



    /*------------------
        Before/After
    ------------------*/
    .before_after .images
    {
        height: 405px;
    }


    .before_after .item
    {
        gap: var(--inner_gap);
    }


    .before_after .item .items > *
    {
        padding-inline: var(--inner_gap_xs);
    }



    /*--------------
        Rreviews
    --------------*/
    .reviews .row
    {
        gap: var(--inner_gap_l);
    }


    .reviews .row .main
    {
        width: calc(100% - 552px - var(--inner_gap_l));
    }


    .reviews .row .main .review
    {
        padding-bottom: var(--inner_gap);

        gap: var(--inner_gap);
    }


    .reviews .row .list
    {
        width: 552px;

        gap: var(--inner_gap_l);
    }


    .reviews .row .review
    {
        gap: var(--inner_gap);
    }


    .reviews .row .review .data
    {
        width: calc(100% - 180px - var(--inner_gap));

        gap: var(--inner_gap);
    }


    .reviews .row .review .play
    {
        width: 42px;
    }


    .reviews .row .review .play .icon
    {
        width: 16px;
    }


    .reviews .row .review .name
    {
        width: calc(100% - 42px - var(--inner_gap_s));

        font-size: 18px;
    }


    .reviews .row .review .info
    {
        gap: var(--inner_gap);
    }


    .reviews .row .review .images .thumb
    {
        height: 339px;
    }


    .reviews .row .review .thumb
    {
        width: 180px;
        height: 77px;
    }



    /*-------------
        What if
    -------------*/
    .what_if .row
    {
        gap: var(--inner_gap_l);
    }


    .what_if .images
    {
        width: 433px;
    }


    .what_if .accordion
    {
        width: calc(100% - 433px - var(--inner_gap_l));
    }


    .what_if .accordion .accordion_item .head
    {
        padding-block: var(--inner_gap_xs);
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .tab_content
    {
        gap: var(--block_padding_s);
    }


    .action_block .message
    {
        width: 488px;

        gap: var(--inner_gap_l);
    }


    .action_block .data
    {
        width: calc(100% - 488px - var(--block_padding_s));

        gap: var(--inner_gap_s);
    }


    .action_block .data .form
    {
        margin-top: var(--inner_gap_xxs);

        column-gap: var(--inner_gap_l);
    }


    .action_block .data .form .line
    {
        width: calc((100% - 180px - var(--inner_gap_l) * 2) / 2);
    }


    .action_block .data .form .submit
    {
        width: 180px;
    }


    .action_block .no .btn
    {
        height: 38px;
    }


    .action_block .image
    {
        top: -32px;
        right: 43px;

        width: 216px;
        margin-right: 0;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: var(--inner_gap_l);
    }


    footer .cont + .cont
    {
        margin-top: var(--inner_gap_l);
    }


    footer .logo
    {
        gap: var(--inner_gap);
    }


    footer .logo img
    {
        width: 155px;
        height: 62px;
    }


    footer .text
    {
        width: 782px;
    }



    /*-----------
        PopUp
    -----------*/
    #calc_modal .calc .data .result
    {
        width: 732px;
        height: 340px;
    }
}
