@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --cont_padding: 20px;
        --custom_scroll_width: 5px;
        --custom_scroll_height: 5px;
        --font_size_l: 11px;
        --font_size: 10px;
        --font_size_s: 9px;
        --font_size_title_l: 34px;
        --font_size_title: 25px;
        --font_size_title_s: 19px;
        --font_size_title_xs: 16px;
        --block_head_offset: 36px;
        --block_padding_xl: 36px;
        --block_padding_l: 32px;
        --block_padding: 26px;
        --block_padding_s: 20px;
        --outside_gap: 70px;
        --border_radius: 10px;
        --border_radius_s: 5px;
    }



    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        --swiper-pagination-bottom: var(--inner_gap_xs);
    }


    .swiper-pagination-bullet
    {
        --swiper-pagination-bullet-height: 8px;
        --swiper-pagination-bullet-width: 8px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs .btn
    {
        height: 28px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        gap: var(--inner_gap_s);
    }


    .accordion_item .head .title
    {
        width: calc(100% - 36px - var(--inner_gap));
    }


    .accordion_item .head .icon
    {
        width: 36px;
    }


    .accordion_item .head .icon svg
    {
        width: 14px;
        height: 9px;
    }


    .accordion_item .data
    {
        padding-block: 0 var(--inner_gap);
        padding-inline: var(--inner_gap_s);
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding-block: var(--inner_gap_xs);
    }


    header .logo img
    {
        width: 100px;
        height: 41px;
    }


    header .callback_btn
    {
        height: 32px;
        padding-inline: var(--inner_gap);
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        gap: var(--inner_gap_xs);
    }


    .block_head.row
    {
        gap: var(--inner_gap_xs);
    }


    .block_head.row .col
    {
        max-width: calc(100% - 200px - var(--inner_gap_l));

        gap: var(--inner_gap_xs);
    }


    .block_head.row .title
    {
        max-width: calc(100% - 262px - var(--inner_gap_l));
    }


    .block_head.row .title.s_w
    {
        max-width: calc(100% - 328px - var(--inner_gap_l));
    }


    .block_head.row .desc
    {
        width: 262px;
    }


    .block_head.row .desc.l_w
    {
        width: 328px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block ul
    {
        gap: var(--inner_gap_xxxs);
    }


    .text_block .message
    {
        padding-block: var(--inner_gap_xs) calc(var(--inner_gap_xs) - 2px);
        padding-inline: var(--inner_gap_xs);
    }


    .text_block .message:after
    {
        right: var(--inner_gap);
        bottom: -12px;

        width: 32px;
        height: 20px;

        border-inline: 16px solid transparent;
        border-top: 20px solid var(--primary_color);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .data .items
    {
        gap: var(--inner_gap_xxs);
    }


    .first_section .data .items .icon
    {
        width: 11px;
    }


    .first_section .data .items span
    {
        width: calc(100% - 11px - var(--inner_gap_xxs));
    }


    .first_section .data .btns
    {
        gap: var(--inner_gap_xs);
    }


    .first_section .data .btns .btn
    {
        height: 32px;
        padding-inline: var(--inner_gap);
    }


    .first_section .person
    {
        gap: var(--inner_gap);
    }


    .first_section .person .items
    {
        width: 156px;

        gap: var(--inner_gap_s);
    }


    .first_section .person .items .item
    {
        min-height: 74px;
        padding: var(--inner_gap_xs);
    }


    .first_section .person .info
    {
        width: 171px;
        margin-right: -15px;
    }


    .first_section .person .photo
    {
        right: 188px;

        height: calc(100% + 12px);
    }



    /*----------
        Calc
    ----------*/
    .calc .data .info
    {
        gap: var(--inner_gap);
    }


    .calc .data .info .line
    {
        gap: var(--inner_gap_xxs);
    }


    .calc .data .info .input
    {
        width: 100px;
        height: 32px;
    }


    .calc .data .info .vals
    {
        gap: var(--inner_gap_xxs);
    }


    .calc .data .info .vals label span
    {
        padding-block: 6px 4px;
        padding-inline: var(--inner_gap_xxs);
    }


    .calc .data .result
    {
        width: 536px;
        height: 268px;
        padding-right: 64px;

        gap: var(--inner_gap_xs);
    }


    .calc .data .result .btn
    {
        height: 32px;
        padding-inline: var(--inner_gap);
    }



    /*-------------
        History
    -------------*/
    .history .chart
    {
        width: calc(100% - 316px - var(--inner_gap_l));
        height: 236px;
    }


    .history .info
    {
        width: 316px;

        gap: var(--inner_gap_s);
    }


    .history .info .service
    {
        padding: var(--inner_gap_xs);
    }



    /*----------------
        Situations
    ----------------*/
    .situations .item .image
    {
        width: 200px;
    }


    .situations .item .info
    {
        width: calc(100% - 200px - var(--inner_gap));

        gap: var(--inner_gap_s);
    }


    .situations .item .btn
    {
        height: 32px;
        padding-inline: var(--inner_gap);
    }



    /*-----------
        Steps
    -----------*/
    .steps .message
    {
        width: 200px;
    }


    .steps .message:after
    {
        right: var(--inner_gap);
        bottom: -12px;

        width: 32px;
        height: 20px;

        border-inline: 16px solid transparent;
        border-top: 20px solid var(--primary_color);
    }


    .steps .grid_row
    {
        --gap_x: 40px;
    }


    .steps .item
    {
        min-height: 283px;
        padding: var(--inner_gap);
    }


    .steps .item .number
    {
        padding: var(--inner_gap);

        font-size: 37px;
    }


    .steps .item .info
    {
        gap: var(--inner_gap_xs);
    }


    .steps .item .arrow
    {
        margin-right: var(--inner_gap_xxs);
    }



    /*---------------------
        After departure
    ---------------------*/
    .after_departure .cont
    {
        gap: var(--inner_gap);
    }


    .after_departure .block_head
    {
        width: 178px;
    }


    .after_departure .block_head .btn
    {
        height: 32px;
        padding-inline: var(--inner_gap);
    }


    .after_departure .data
    {
        width: calc(100% - 178px - var(--inner_gap));
    }


    .after_departure .item
    {
        min-height: 188px;

        gap: var(--inner_gap_xxs);
    }



    /*-----------------------
        Try simpler first
    -----------------------*/
    .try_simpler_first .row
    {
        gap: var(--inner_gap);
    }


    .try_simpler_first .list
    {
        width: calc(100% - 233px - var(--inner_gap));

        gap: var(--inner_gap);
    }


    .try_simpler_first .list .item .image
    {
        height: 237px;
    }


    .try_simpler_first .list .item .info
    {
        gap: var(--inner_gap_xxs);
    }


    .try_simpler_first .list .item .name
    {
        width: 230px;
    }


    .try_simpler_first .list .item .desc
    {
        width: calc(100% - 230px - var(--inner_gap_xxs));
    }


    .try_simpler_first .action
    {
        width: 233px;
        min-height: 325px;
        padding: var(--inner_gap);
    }


    .try_simpler_first .action .desc
    {
        width: 120px;
    }


    .try_simpler_first .action .btn
    {
        height: 32px;
        padding-inline: var(--inner_gap);
    }


    .try_simpler_first .action .photo
    {
        width: 148px;
    }



    /*------------------
        Before/After
    ------------------*/
    .before_after .images
    {
        height: 294px;
    }


    .before_after .grid_row
    {
        margin-top: var(--inner_gap_l);
    }


    .before_after .item
    {
        gap: var(--inner_gap_xs);
    }


    .before_after .item .items > *
    {
        padding-block: 5px;
    }



    /*--------------
        Reviews
    --------------*/
    .reviews .big
    {
        width: calc(100% - 400px - var(--inner_gap));
    }


    .reviews .big .review .play + *
    {
        width: calc(100% - 30px - var(--inner_gap_xs));
    }


    .reviews .list
    {
        width: 400px;

        gap: var(--inner_gap_s);
    }


    .reviews .review .data
    {
        width: calc(100% - 130px - var(--inner_gap));

        gap: var(--inner_gap_xs);
    }


    .reviews .review .top
    {
        gap: var(--inner_gap_xs);
    }


    .reviews .review .play
    {
        width: 30px;
    }


    .reviews .review .play .icon
    {
        width: 12px;
    }


    .reviews .review .play .icon + .icon
    {
        width: 18px;
    }


    .reviews .review .name
    {
        width: calc(100% - 30px - var(--inner_gap_xs));

        font-size: 14px;
    }


    .reviews .review .info
    {
        gap: var(--inner_gap_xs);
    }


    .reviews .review .info > *
    {
        gap: var(--inner_gap_xxxs);
    }


    .reviews .review .info .icon
    {
        width: 10px;
        min-width: 10px;
        height: 10px;
    }


    .reviews .review .info .location .icon
    {
        width: 8px;
        min-width: 8px;
        height: 11px;
    }


    .reviews .review .images .thumb
    {
        height: 245px;
    }


    .reviews .review .thumb
    {
        width: 130px;
        height: 58px;
    }



    /*-------------
        What if
    -------------*/
    .what_if .row
    {
        gap: var(--inner_gap);
    }


    .what_if .images
    {
        width: 316px;
    }


    .what_if .accordion
    {
        width: calc(100% - 316px - var(--inner_gap));
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .tab_content
    {
        gap: var(--inner_gap);
    }


    .action_block .message
    {
        width: 349px;
        padding-block: var(--inner_gap_s) var(--inner_gap_xs);
        padding-inline: var(--inner_gap_s);

        gap: var(--inner_gap_s);
    }


    .action_block .data
    {
        width: calc(100% - 349px - var(--inner_gap));

        gap: var(--inner_gap_xs);
    }


    .action_block .data .form
    {
        --form_input_height: 32px;
        column-gap: var(--inner_gap_s);
    }


    .action_block .data .form .line
    {
        width: calc((100% - 160px - var(--inner_gap_s) * 2) / 2);
    }


    .action_block .data .form .submit
    {
        width: 160px;
    }


    .action_block .no .btn
    {
        height: 32px;
        padding-inline: var(--inner_gap);
    }


    .action_block .image
    {
        top: -22px;
        right: 36px;

        width: 156px;
    }



    /*------------
        Footer
    ------------*/
    footer .logo
    {
        gap: var(--inner_gap_xs);
    }


    footer .logo img
    {
        width: 113px;
        height: 45px;
    }


    footer .callback_btn
    {
        height: 32px;
        padding-inline: var(--inner_gap);
    }


    footer .text
    {
        width: 546px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        --modal_width: 660px;
    }


    .modal .modal_title,
    .modal .modal_desc,
    .modal .form
    {
        width: 300px;
    }


    #get_solution_modal .image
    {
        width: 300px;
    }


    #callback_modal .image
    {
        right: 8px;

        width: 280px;
    }


    #get_engineer_modal .image
    {
        width: 300px;
    }


    #calc_modal .calc .data .result
    {
        width: 490px;
        height: 252px;
    }
}
